body {
  background-image: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?cs=srgb&dl=pexels-miguel-%C3%A1-padri%C3%B1%C3%A1n-255379.jpg&fm=jpg");
}

.navbar-brand {
  background-color: rgb(77, 233, 212);
  padding: 5px 10px;
}

a.navbar-brand {
  color: white !important;
  font-size: 20px;
}

h1 i {
  color: rgb(77, 233, 212);
}

footer i {
  color: black;
}

#footerDiv {
  background-color: rgb(77, 233, 212);
}

#aboutMeCard,
#contactCard,
#portfolioCard {
  background-color: white;
  margin: 110px 0px 0px 0px;
}

h1 {
  color: rgb(77, 233, 212);
}

#homeImg {
  width: 165px;
  height: 160px;
  float: left;
  margin-right: 13px;
}

#contactCard button {
  background-color: rgb(77, 233, 212);
  border-color: rgb(77, 233, 212);
}

footer a {
  text-decoration: none;
}

.portfolioImg img {
  height: 85%;
  width: 100%;
  object-fit: contain;
  margin: 10px;
}

#TaionAd {
  padding-right: 40px;
}

#Headshot {
  height: 85%;
}

#webPortfolio {
  width: auto;
}

a {
  color: black;
}
