body {
  background-image: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?cs=srgb&dl=pexels-miguel-%C3%A1-padri%C3%B1%C3%A1n-255379.jpg&fm=jpg");
}

#aboutMeCard {
  background-color: white;
  margin: 100px 0px 0px 10px;
}

#homeImg {
  width: 170px;
  height: 150px;
  display: inline;
}
